<!DOCTYPE html>
 <! --
 Victor Sebastian Bravo Barrera
 -->
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Vacunatorio</title>
</head>
<body>

<div class="container">
  <h2>Vacunatorio Paciente</h2>
   <form class="form-inline" action="./vacunarPaciente" method="POST">
	 
	
	    <br>
   <table class="table">
      <tbody>
       {% for paciente in paciente %}


        <input type="hidden" id="id_paciente" name="id_paciente" value="{{ paciente['id_paciente'] }}">
        <tr>
           <th scope="row">Nombre</th>
           <td> {{ paciente['nombre'] }} </td>
      
        </tr>
        <tr>
        <th scope="row">RUN</th>
        <td>{{ paciente['rut'] }}</td>
    
        </tr>
        <tr>
        <th scope="row">Fecha nacimiento</th>
        <td>{{ paciente['fecha_nacimiento'] }}</td>
        </tr>
    
        <tr>
        <th scope="row"></th>
        <td>

       
          <select name="vacuna" id="vacuna" class="form-control">
          {% for vacuna in vacuna %}
             
              <option value="{{ vacuna['id_vacuna'] }}" >{{ vacuna['nombre_enfermedad'] }}</option>

          {% endfor %}  
          </select> 
          <button class="btn btn-info" type="submit">Guardar</button>
          
          
        </td>
        </tr>
          {% endfor %}

          
        
      </tbody>
    </table>
    </form> 
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
