<!DOCTYPE html>
 <! --
 Victor Sebastian Bravo Barrera
 -->
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Vacunatorio</h2>
   <form class="form-inline" action="" method="POST">
	 

  
    <a href="{{ url_for('AgregarPaciente') }}" class="btn btn-primary">Agregar</a>
    <a href="{{ url_for('vacunas') }}" class="btn btn-primary">Vacunas</a>

    
	</form> 

  


	<br>
  <table class="table table-hover" id="myTable">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Rut</th>
        <th>Fecha de nacimiento</th>
        <th>Vacunas</th>
      </tr>
    </thead>
    <tbody>
      {% for paciente in paciente %}
        <tr>
          <td>{{ paciente['nombre'] }}</td>
          <td>{{ paciente['rut'] }}</td>
          <td>{{ paciente['fecha_nacimiento'] }}</td>

          <td>

            <form class="form-inline" action="./pacVac" method="POST">
               <input type="hidden" id="id_paciente" name="id_paciente" value="{{ paciente['id_paciente'] }}" >
               <button class="btn btn-info" type="submit">Agregar</button>
            </form>

             <form class="form-inline" action="./verVacunados" method="POST">
               <input type="hidden" id="id_paciente" name="id_paciente" value="{{ paciente['id_paciente'] }}">
               <button class="btn btn-info" type="submit">Ver</button>
            </form> 

          </td>
          
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</body>
<script type="text/javascript">
  $(document).ready( function () {
    $('#myTable').DataTable();
  });
</script>
</html>
