<!DOCTYPE html>
 <! --
 Victor Sebastian Bravo Barrera
 -->
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Vacunas del paciente </h2>
   <form class="form-inline" action="" method="POST">
	 

  
	</form> 

  


	<br>
  <table class="table table-hover" id="myTable">
    <thead>
      <tr>
        <th>Nombre enfermedad</th>
        <th>Fecha vacuna</th>

      </tr>
    </thead>
    <tbody>
      {% for paciente in paciente %}
        <tr>
          <td>{{ paciente['nombre_enfermedad'] }}</td>
          
          <td>{{ paciente['created_at'] }}</td>

          
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</body>
<script type="text/javascript">
  $(document).ready( function () {
    $('#myTable').DataTable();
  });
</script>
</html>
